.permissiontype-form {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
  }
}
