@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Manrope', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 16px;
}

.grid-Form-Table {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
